<div class="box ">
    <div class="container row">
        <div class="col l4 s12 m4">
<h6> Hope this Basic App provides solution for your confusion. If there are any issues you can contact me</h6>
        </div>
        <div class="col l4 s12 m4"></div>
        <div class="col l4 s12 m4">           
            <h6>
                <br/>
<a href="https://www.linkedin.com/in/harika-bonala-132613160"><i class="fa fa-linkedin-square"></i></a>
<a href="mailto:harikabonala2000@gmail.com"><i class="fa fa-envelope-o"></i> </a>
<a href="https://github.com/Harika-18"><i class="fa fa-github"></i></a>
            </h6>
        </div>
    </div>
    <div class="container row">
        <hr>
        <h6 class="center">&copy; 2020 Harika Bonala</h6>
        <br/>
    </div>
</div>